.artwork-card {
    max-width: 300px;
    border-radius: 10px;
    margin: 10px;
}
  
.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

img {
    border-radius: 10px;
}
  